[submodule "exercises/learning-lm-rs"]
	path = exercises/learning-lm-rs
	url = https://github.com/wawahejun/learning-lm-rs
[submodule "exercises/rustlings"]
	path = exercises/rustlings
	url = https://github.com/wawahejun/rustlings-completed-version
[submodule "exercises/learning-cxx"]
	path = exercises/learning-cxx
	url = git@github.com:zint99/learning-cxx.git
